<h2>Built In Pipes Example</h2>
<div>
    {{ user.firstName | lowercase }}, {{ user.lastName | uppercase}}
</div>
<div>
    {{ user.DOB | date }}
</div>
<div>
    {{ user.salary | currency }}
</div>
<div>
    {{ user | json }}
</div>
<hr>
<h2>Parametrized Pipes Example</h2>
<div>
    <p>Using 'short' in Date Pipe : {{ user.DOB | date:'short' }}</p>
    <p>Using 'medium' in Date Pipe : {{ user.DOB | date:'medium' }}</p>
    <p>Using 'long' in Date Pipe : {{ user.DOB | date:'long' }}</p>
    <p>Using 'full' in Date Pipe : {{ user.DOB | date:'full' }}</p>
    <p>Using 'shortDate' in Date Pipe : {{ user.DOB | date:'shortDate' }}</p>
    <p>Using 'mediumDate' in Date Pipe : {{ user.DOB | date:'mediumDate' }}</p>
    <p>Using 'longDate' in Date Pipe : {{ user.DOB | date:'longDate' }}</p>
    <p>Using 'fullDate' in Date Pipe : {{ user.DOB | date:'fullDate' }}</p>
    <p>Using 'shortTime' in Date Pipe : {{ user.DOB | date:'shortTime' }}</p>
    <p>Using 'mediumTime' in Date Pipe : {{ user.DOB | date:'mediumTime' }}</p>
    <p>Using 'longTime' in Date Pipe : {{ user.DOB | date:'longTime' }}</p>
    <p>Using 'fullTime' in Date Pipe : {{ user.DOB | date:'fullTime' }}</p>


</div>
<p><b>Joining Date Formatting</b></p>
<div>
    <p>Using 'short' in Date Pipe : {{ user.joiningDate | date:'short' }}</p>
    <p>Using 'medium' in Date Pipe : {{ user.joiningDate | date:'medium' }}</p>
    <p>Using 'long' in Date Pipe : {{ user.joiningDate | date:'long' }}</p>
    <p>Using 'full' in Date Pipe : {{ user.joiningDate | date:'full' }}</p>
    <p>Using 'shortDate' in Date Pipe : {{ user.joiningDate | date:'shortDate' }}</p>
    <p>Using 'mediumDate' in Date Pipe : {{ user.joiningDate | date:'mediumDate' }}</p>
    <p>Using 'longDate' in Date Pipe : {{ user.joiningDate | date:'longDate' }}</p>
    <p>Using 'fullDate' in Date Pipe : {{ user.joiningDate | date:'fullDate' }}</p>
    <p>Using 'shortTime' in Date Pipe : {{ user.joiningDate | date:'shortTime' }}</p>
    <p>Using 'mediumTime' in Date Pipe : {{ user.joiningDate | date:'mediumTime' }}</p>
    <p>Using 'longTime' in Date Pipe : {{ user.joiningDate | date:'longTime' }}</p>
    <p>Using 'fullTime' in Date Pipe : {{ user.joiningDate | date:'fullTime' }}</p>


</div>
<div>
    <p>Salary using 'currency' Pipe : {{ user.salary | currency }}</p>
    <p>Salary using 'currency : 'INR' ' Pipe : {{ user.salary | currency:'INR' }}</p>
    <p>Salary using 'currency:'CAD' ' Pipe : {{ user.salary | currency:'CAD' }}</p>
    <p>Salary using 'currency:'CAD':'code' ' Pipe : {{ user.salary | currency:'CAD':'code' }}</p>
    <p>Salary using 'currency : 'INR' ' Pipe : {{ user.salary | currency:'INR':'INR':'3.0-1' }}</p>
</div>
<hr>
<p>The hero's birthday is {{ birthday | date:"dd/MM/yyyy" }}</p>
<hr>
<p>The hero's birthday is {{ birthday | date:format }}</p>
<button (click)="toggleFormat()">Toggle Date</button>
<hr>

<h2>Chaining Pipes Example</h2>
<div>
    {{ user.DOB | date:'full' | uppercase }}
</div>
<hr>
<h2>Custom Pipes Example</h2>

<ul>
    <li *ngFor="let user of users">
        <div [innerHTML]="user.city |highlight: user.city"></div>
    </li>
</ul>
<hr>
<h2>Custom Pipes Example phone number Formatting</h2>
<div [innerHTML]="phone.num | formatter:phone.code : phone.num">

</div>
<div>
    Power of SuperHero Increases to {{ 2 | booster: 10}}
</div>
<h2>Detecting changes with data binding in pipes</h2>
<div>Normal Power : <input type="text" [(ngModel)]="power"></div>
<div>Power Booster : <input type="text" [(ngModel)]="factor"></div>
<p>
    Super Hero Power : {{ power | booster:factor }}
</p>




<router-outlet></router-outlet>